.v1_2 {
    width: 295px;
    height: 467px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    border: 4px solid purple;
  }

#outer-container{
    display:table;
    width: 1854px;;
    height:1152px;
    border: 4px solid palevioletred;
}
#sidebar{
    text-align: center;
    display:table-cell;
    width: 333px;
    height: 1075px;
    border: 2px solid #000;
    vertical-align:top;
    border-color:black;
    left: 21px;
    border: 4px solid blue;
}
button{
    background-color: black;
    color:white;
    width: 200px;
    height: 60px;
    border: 4px solid orange;
}
th,td{
	text-align:left;
	padding:15px;
}
table{
    position: absolute;
    bottom: 50px;
    left: 100px;
	border-collapse:collapse;
	width:60%;
}




